@if (armyStore.army()) {
  <!-- <div class="flex flex-col-reverse flex-nowrap lg:flex-row">
    <div
      class="mt-6 flex w-full justify-center px-2 lg:mt-10 lg:w-[255px] lg:justify-around"
    >
      <app-container-icon
        [icon]="'/assets/images/money.webp'"
        [value]="armyStore.army()!.gold"
        class="mr-8 lg:mr-0"
      ></app-container-icon>
      <app-container-icon
        [icon]="'/assets/images/power.webp'"
        [value]="armyStore.army()!.power"
        [routerLink]="'/' + armyStore.currentArmyName() + '/war'"
      ></app-container-icon>
    </div> 
     <div class="relative ml-4 mr-4 lg:ml-auto lg:mr-20">
      <img
        src="/assets/images/title.webp"
        class="m-auto"
        alt=""
        draggable="false"
      />
      <h1
        class="shadow-title absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-xl font-bold text-white lg:mt-[-10px]"
      >
        <app-army-name [user]="armyStore.army()!"></app-army-name>
      </h1>
    </div>
  </div> -->
  <div class="flex flex-col items-center lg:flex-row lg:items-start">
    <!-- <div class="mb-6 mt-2 flex flex-col items-center lg:mb-0 lg:w-[255px]">
      <app-troopers-block
        [troopers]="user()!.troopers"
        [armyColor]="user()!.color"
        [context]="isOwner() ? 'globalOwner' : 'global'"
      ></app-troopers-block>
      <app-container-history
        class="hidden lg:block"
        [user]="user()!"
      ></app-container-history>
    </div> -->
    <div
      class="mt-2 grid auto-rows-min grid-cols-1 gap-x-5 gap-y-6 lg:grid-cols-2"
    >
      <app-today-fight [type]="'fight'"></app-today-fight>
      <div class="relative">
        <app-today-fight [type]="'mission'"></app-today-fight>
        <div class="overlay-disable"></div>
      </div>
      <div class="relative">
        <app-today-fight [type]="'raid'"></app-today-fight>
        <div class="overlay-disable"></div>
      </div>
      <app-container-ad
        [image]="ad1.image"
        [link]="ad1.link"
      ></app-container-ad>
      @if (armyStore.isOwner()) {
        <app-container-referral></app-container-referral>
      } @else {
        <div></div>
      }
      <app-container-ad
        [image]="ad2.image"
        [link]="ad2.link"
      ></app-container-ad>
    </div>
  </div>
}
