<div
  *ngIf="tooltipSkill"
  class="relative flex min-w-[250px] flex-col px-2 pb-2 font-normal"
>
  <div class="flex flex-nowrap">
    <div
      class="relative -ml-2 mr-1 h-[25px] w-[28px] rounded-ee bg-[#6f7da7]"
    ></div>

    <h2 class="font-bold text-[#6e4724]">
      {{ tooltipSkill.name }}
    </h2>
  </div>

  <ng-container
    *ngIf="
      tooltipSkill.type && tooltipSkill.type[0] === 'WEAPON';
      else skillTooltip
    "
  >
    <ng-container *ngFor="let weaponAttribute of weaponAttributes">
      <ng-container
        *ngIf="weaponFormat | getSkillAttribute: weaponAttribute; let value"
      >
        <div class="flex text-[0.8rem] text-[#6e4724]">
          <div class="font-bold">{{ weaponAttribute }} :&nbsp;</div>
          <div>{{ value }}</div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #skillTooltip>
    <div class="my-1 text-sm font-normal text-[#6e4724]">
      {{ tooltipSkill | getSkillAttribute: "desc" : trooperName }}
    </div>
    <div class="flex whitespace-pre-line text-sm font-normal text-[#6f7da7]">
      <img
        class="mr-2 mt-[5px] h-[10px] w-[10px]"
        src="/assets/images/comment.webp"
        alt=""
      />
      {{ tooltipSkill | getSkillAttribute: "desc2" : trooperName }}
    </div>
  </ng-template>

  <img
    class="absolute -left-[9px] -top-[33px] w-20"
    src="/assets/images/tiptop.webp"
    alt=""
  />
</div>
