<div class="flex flex-col items-center lg:flex-row lg:items-start">
  <div
    class="mt-2 grid auto-rows-min grid-cols-1 gap-x-5 gap-y-6 lg:grid-cols-2"
  >
    <app-today-fight [type]="'fight'"></app-today-fight>

    <div class="relative">
      <app-today-fight [type]="'exterminate'"></app-today-fight>
    </div>

    <div class="relative">
      <app-today-fight [type]="'infiltrate'"></app-today-fight>
    </div>

    <!-- <div class="relative">
      <app-today-fight [type]="'epic'"></app-today-fight>
    </div> -->

    <div class="relative">
      <app-today-fight [type]="'raid'"></app-today-fight>
    </div>

    @if (armyStore.isOwner()) {
      <app-container-referral></app-container-referral>
    } @else {
      <app-container-ad
        [image]="ad1.image"
        [link]="ad1.link"
      ></app-container-ad>
    }

    <app-container-ad [image]="ad2.image" [link]="ad2.link"></app-container-ad>
  </div>
</div>
