<div class="relative w-[322px]">
  <img src="/assets/images/box2top.webp" alt="" class="absolute" />
  <h2 class="h2-title absolute left-1/2 top-[5px] -translate-x-1/2">
    {{ title | uppercase }}
  </h2>

  <div class="pl-[3px] pr-[2px] pt-5">
    <div
      class="h-[120px] border-x border-black bg-cover bg-no-repeat"
      [style.backgroundImage]="'url(' + image + ')'"
    ></div>
  </div>

  <div class="relative -mt-[5px]">
    <img src="/assets/images/box2bottom.webp" alt="" class="" />

    <div class="absolute top-1 w-full px-[6px]">
      @switch (type) {
        @case ("fight") {
          <app-fight [user]="armyStore.army()!" [smallIcon]="true"></app-fight>
        }
        @case ("raid") {
          <app-raid> </app-raid>
        }
        @default {
          <!-- infiltrate -->
          <!-- exterminate -->
          <!-- epic -->
          <app-missions [user]="armyStore.army()!" [type]="type"></app-missions>
        }
      }
    </div>
  </div>
</div>
